ni -Type File .gitignore -Force
@"
/public/
resources/
**/index_files/
.DS_Store
.Rproj.user/
.Rhistory
.RData
*.knit.md
*.utf8.md
"@ | Out-File -Encoding utf8 -Append .gitignore
resources/_gen/
/public/
/resources/
/.hugo_build.lock
/.Rproj.user/
/.DS_Store
Thumbs.db
.hugo_build.lock
