/*  Header options */
h1, #TOC ul>li {
  color: #0d0d0d;
}
h2, #TOC ul>li {
  color: #3b80d1;
}

/*  Code options */
.code-input {
  background-color: lightpink;
  border: 2px solid darkblue;
  font-size: 18px;
}

code.r{
  font-size: 18px;
}

pre {
  font-size: 18px
}

/*  Text options */
body, td {
   font-size: 18px;
   text-align: justify;
}

/*  Div options - color box text */
.div-1{
  color: black;
  text-align: justify;
  background-color: #d6edd3;
}
.div-2{
  color: black;
  text-align: justify;
  background-color: #cfbe7e;
}

/*  Specific headers */
.header1 h1{
font-style: normal;
color: #f00000;
}
.header2 h2{
font-style: normal;
color: #3b80d1;
}
