/*  Header options */
h1, #TOC ul>li {
  color: #000000;
  font-size: 25px;
}
h2, #TOC ul>li {
  color: #2e2929;
  font-size:22px;
}
h3, #TOC ul>li {
  color: #574545;
  font-size: 19px;
}

/*  Code options */
.code-input {
  background-color: lightpink;
  border: 2px solid darkblue;
  font-size: 16px;
}

.r{
  font-size: 15px;
}

pre {
  font-size: 16px
}

/*  Text options */
body, td {
   font-size: 16px;
   text-align: justify;
}

/*  Div options - color box text */
.div-1{
  color: black;
  text-align: justify;
  background-color: #d6edd3;
}
.div-2{
  color: black;
  text-align: justify;
  background-color: #eacffc;
}

/* Code columns */
.col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
}
.col3 {
  columns: 3 100px; /* number of columns and width in pixels*/
  -webkit-columns: 3 100px; /* chrome, safari */
  -moz-columns: 3 100px; /* firefox */
}
  
/* Text columns */
.column-left2{
  float: left;
  width: 50%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.column-right2{
  float: right;
  width: 50%;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.column-left3{
  float: left;
  width: 33%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.column-center3{
  display: inline-block;
  width: 33%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.column-right3{
  float: right;
  width: 33%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
