{{/* ============================================================
    GitHub Buttons Script Hook
    ============================================================
    Loads GitHub social buttons (star, follow, watch) asynchronously
    to avoid blocking page render.
    
    Reference: https://buttons.github.io/
*/}}
<script 
  async 
  defer 
  src="https://buttons.github.io/buttons.js"
  integrity="sha384-K0eTvmK3xj08HT/aXBdJLVqZOQNKvLQ5KGFpNg+15Fq9LHW46K1F+/SJBn5x2M3w"
  crossorigin="anonymous"
></script>
